.swipl_history
RDF-Cache/
examples/load-data
tmp/
target/
.plhistory
examples/gen-*
examples/init-*
examples/*.owl
examples/*/_input.ttl
examples/*/_induced_axioms_merged.ttl
examples/*/_src.ttl
*.old
